{% load static %}
<main class = "view view_home">
    <header class = "header_home">
        <h3>Inicio</h3>
        <p>Pagina de congresos</p>
    </header>

    <div class = "home_main">
        
        <div class = "banner_container">
            <img src="{% static 'app/img/banner.png' %}" alt="" class = "img_banner">
        
        </div>
        <div class = "sesiones_articulos_container">
            <div class = "sesiones">
                <div class = "sesiones_title">
                    <h3>Proximas Sesiones</h3>
                    <p>Ponencias, Expocisiones y Proyectos</p>
                </div>
                <div class = "sesion_tile">
                    <div class = "sesion_logo">
                        
                    </div>
                </div>
           </div> 
        </div>

        <div class = "articulos">

        </div>
    </div>
    </div>
</div>

   

    

</main>