.view_home *{
    font-size: 1rem;
}

.view_home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.header_home{
    height: 10vh;
    border-bottom: 1px solid rgb(119, 119, 119);
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

.header_home h3{
    font-weight: 700;

}

.header_home p{
    font-size: 1rem;
}

.home_main{
    width: 100%;
    max-width: 100%;
   
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.banner_container{
    
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    max-height: 430px;

}



.img_banner{
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    
    height: 100%;
    object-fit: fill;
    border-radius: 20px;
}

.sesiones_articulos_container{
    grid-template-columns: 60% 40%;
    grid-template-rows: 400px;
    grid-template-areas: "sesiones articulos";
   margin: 20px;

}

.sesiones{
    grid-area: sesiones;
    border: 1px solid rgb(122, 121, 121);


}

.sesiones_title{
    width: 100%;
    height: 70px;

}

.sesion_tile{
    width: 100%;
    height: 70px;
    display: flex;

}





.articulos{
    grid-area: articulos;
}















@media(max-width: 1200px){
    .banner_container{
       
        height: 330px;
    }

    .img_banner{
        object-fit: fill;
    }
}

@media (max-width: 1000px){
    .banner_container{
     height: 280px;
    }
}

@media (max-width: 656px){
    .banner_container{
     height: 250px;
    }
}

@media (max-width: 550px){
    .banner_container{
     height: 200px;
    }
}

@media (max-width: 400px){
    .banner_container{
     height: 175px;
    }
}

@media (max-width: 350px){
    .banner_container{
     height: 130px;
    }
}

